<!DOCTYPE html>
<html lang="en" dir="">
    <head>
        <!-- Required Meta Tags Always Come First -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Title -->
        <title>SyncWallet | Connected Decentralized Applications</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico" />

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://cdnjs.cloudflare.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css"
            integrity="sha512-3PN6gfRNZEX4YFyz+sIyTF6pGlQiryJu9NlGhu9LrLMQ7eDjNgudQoFDK3WSNAayeIKc6B8WXXpo4a7HqxjKwg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap"
            rel="stylesheet"
        />
        <!-- End Fonts -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/css/vendor.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/vendor/bootstrap-icons/font/bootstrap-icons.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/vendor/aos/dist/aos.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/css/theme.minc619.css?v=1.0"
        />
        <style>
            body,
            html {
                font-family: "Comfortaa", cursive;
                /* font-weight: 700; */
            }
        </style>
    </head>

    <body>
        <%- include('templates/navbar') %>

        <!-- ========== MAIN CONTENT ========== -->
        <main id="content" role="main">
            <!-- Hero -->
            <div
                class="
                    gradient-y-sm-primary
                    position-relative
                    zi-2
                    overflow-hidden
                "
            >
                <div
                    class="
                        container
                        position-relative
                        content-space-t-3 content-space-t-lg-4 content-space-b-2
                    "
                >
                    <!-- Heading -->
                    <div
                        class="
                            w-md-80 w-lg-50
                            text-center
                            mx-md-auto
                            mb-5 mb-md-9
                        "
                    >
                        <h1 class="display-4 mb-3">SyncWallet</h1>
                        <p class="lead">Built by Developers. For Developers</p>
                    </div>
                    <!-- End Title & Description -->

                    <!-- Swiper Slider -->
                    <div class="js-swiper-software-hero swiper zi-2">
                        <div class="swiper-wrapper">
                            <!-- Slide -->
                            <div class="swiper-slide my-2">
                                <!-- Card -->
                                <div
                                    class="
                                        card card-sm card-transition
                                        shadow-sm
                                    "
                                >
                                    <img
                                        class="card-img-top img-fluid"
                                        src="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/img/crypto/11.jpg"
                                        alt="Blockchain"
                                    />

                                    <div class="card-body">
                                        <h4 class="card-title text-center"
                                            >Blockchain</h4
                                        >
                                        <p class="card-text text-center small"
                                            >BTC Wallet</p
                                        >

                                        <div class="d-grid">
                                            <a
                                                class="btn btn-primary btn-sm"
                                                href="#"
                                                >Connect</a
                                            >
                                        </div>
                                    </div>
                                </div>
                                <!-- End Card -->
                            </div>
                            <!-- End Slide -->

                            <!-- Slide -->
                            <div class="swiper-slide my-2">
                                <!-- Card -->
                                <div
                                    class="
                                        card card-sm card-transition
                                        shadow-sm
                                    "
                                >
                                    <img
                                        class="card-img-top"
                                        src="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/img/crypto/13.jpg"
                                        alt="$ETH"
                                    />

                                    <div class="card-body">
                                        <h4 class="card-title text-center"
                                            >Ethereum</h4
                                        >
                                        <p class="card-text small text-center"
                                            >Crypto Wallet</p
                                        >

                                        <div class="d-grid">
                                            <a
                                                class="btn btn-primary btn-sm"
                                                href="#"
                                                >Connect</a
                                            >
                                        </div>
                                    </div>
                                </div>
                                <!-- End Card -->
                            </div>
                            <!-- End Slide -->

                            <!-- Slide -->
                            <div class="swiper-slide my-2">
                                <!-- Card -->
                                <div
                                    class="
                                        card card-sm card-transition
                                        shadow-sm
                                    "
                                >
                                    <img
                                        class="card-img-top"
                                        src="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/img/crypto/10.png"
                                        alt="metamask"
                                    />

                                    <div class="card-body">
                                        <h4 class="card-title text-center"
                                            >Metamask</h4
                                        >
                                        <p class="card-text small text-center"
                                            >Crypto Wallet</p
                                        >

                                        <div class="d-grid">
                                            <a
                                                class="btn btn-primary btn-sm"
                                                href="#"
                                                >Connect</a
                                            >
                                        </div>
                                    </div>
                                </div>
                                <!-- End Card -->
                            </div>
                            <!-- End Slide -->

                            <!-- Slide -->
                            <div class="swiper-slide my-2">
                                <!-- Card -->
                                <div
                                    class="
                                        card card-sm card-transition
                                        shadow-sm
                                    "
                                >
                                    <img
                                        class="card-img-top"
                                        src="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/img/crypto/12.png"
                                        alt="Luno"
                                    />

                                    <div class="card-body">
                                        <h4 class="card-title text-center"
                                            >Luno</h4
                                        >
                                        <p class="card-text small text-center"
                                            >Crypto Wallet</p
                                        >

                                        <div class="d-grid">
                                            <a
                                                class="btn btn-primary btn-sm"
                                                href="#"
                                                >Connect</a
                                            >
                                        </div>
                                    </div>
                                </div>
                                <!-- End Card -->
                            </div>
                            <!-- End Slide -->

                            <!-- Slide -->
                            <div class="swiper-slide my-2">
                                <!-- Card -->
                                <div
                                    class="
                                        card card-sm card-transition
                                        shadow-sm
                                    "
                                >
                                    <img
                                        class="card-img-top"
                                        src="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/img/crypto/9.png"
                                        alt="Image Description"
                                    />

                                    <div class="card-body">
                                        <h4 class="card-title text-center"
                                            >Solana</h4
                                        >
                                        <p class="card-text small text-center"
                                            >Crypto Coin</p
                                        >

                                        <div class="d-grid">
                                            <a
                                                class="btn btn-primary btn-sm"
                                                href="#"
                                                >Connect</a
                                            >
                                        </div>
                                    </div>
                                </div>
                                <!-- End Card -->
                            </div>
                            <!-- End Slide -->
                        </div>

                        <!-- Pagination -->
                        <div
                            class="
                                js-swiper-software-hero-pagination
                                swiper-pagination
                                d-lg-none
                            "
                        ></div>

                        <!-- Preloader -->
                        <div
                            class="
                                js-swiper-software-hero-preloader
                                swiper-preloader
                            "
                        >
                            <div
                                class="spinner-border text-primary"
                                role="status"
                            >
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <!-- End Preloader -->
                    </div>
                    <!-- ENd Swiper Slider -->

                    <!-- SVG Shape -->
                    <figure
                        class="position-absolute zi-n1"
                        style="
                            top: -35rem;
                            left: 50rem;
                            width: 62rem;
                            height: 62rem;
                        "
                    >
                        <svg
                            preserveAspectRatio="none"
                            xmlns="http://www.w3.org/2000/svg"
                            x="0px"
                            y="0px"
                            viewBox="0 0 260 260"
                        >
                            <circle
                                fill="#e7eaf3"
                                opacity=".7"
                                cx="130"
                                cy="130"
                                r="130"
                            />
                        </svg>
                    </figure>
                    <!-- End SVG Shape -->

                    <!-- SVG Shape -->
                    <figure
                        class="position-absolute zi-n1"
                        style="
                            top: 15rem;
                            left: 70rem;
                            width: 20rem;
                            height: 20rem;
                        "
                    >
                        <img
                            class="img-fluid"
                            src="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/svg/components/circled-stripe.svg"
                            alt="Image Description"
                        />
                    </figure>
                    <!-- End SVG Shape -->

                    <!-- SVG Shape -->
                    <figure
                        class="position-absolute zi-n1"
                        style="
                            bottom: 11rem;
                            left: -3rem;
                            width: 15rem;
                            height: 15rem;
                        "
                    >
                        <img
                            class="img-fluid"
                            src="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/svg/components/dots.svg"
                            alt="Image Description"
                        />
                    </figure>
                    <!-- End SVG Shape -->
                </div>

                <!-- Shape -->
                <div class="shape shape-bottom zi-1">
                    <svg
                        width="3000"
                        height="500"
                        viewBox="0 0 3000 500"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path d="M0 500H3000V0L0 500Z" fill="#fff" />
                    </svg>
                </div>
                <!-- End Shape -->
            </div>
            <!-- End Hero -->

            <!-- Features Blocks -->
            <%- include('templates/features') %>
            <!-- End Features Blocks -->

            <%- include('templates/clients') %>

            <!-- Subscribe -->
            <div class="container content-space-b-2 content-space-b-lg-3">
                <div class="w-md-75 w-lg-50 text-center mx-md-auto">
                    <div class="row justify-content-lg-between">
                        <!-- Heading -->
                        <div class="mb-5">
                            <h2>Get updates about new features and product.</h2>
                        </div>
                        <!-- End Heading -->

                        <form>
                            <!-- Input Card -->
                            <div class="input-card input-card-sm border mb-3">
                                <div class="input-card-form">
                                    <label
                                        for="subscribeForm"
                                        class="form-label visually-hidden"
                                        >Enter email</label
                                    >
                                    <input
                                        type="email"
                                        required
                                        class="
                                            form-control form-control-lg
                                            font-weight-bold
                                        "
                                        id="subscribeForm"
                                        autocomplete="off"
                                        placeholder="Enter email"
                                        aria-label="Enter email"
                                    />
                                </div>
                                <button
                                    type="submit"
                                    class="btn btn-primary btn-lg"
                                    >Get started</button
                                >
                            </div>
                            <!-- End Input Card -->
                        </form>
                    </div>
                </div>
            </div>
            <!-- End Subscribe -->
        </main>
        <!-- ========== END MAIN CONTENT ========== -->

        <%- include('templates/footer') %>

        <!-- ========== SECONDARY CONTENTS ========== -->

        <!-- Go To -->
        <a
            class="js-go-to go-to position-fixed"
            href="javascript:;"
            style="visibility: hidden"
            data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'
        >
            <i class="bi-chevron-up"></i>
        </a>
        <!-- ========== END SECONDARY CONTENTS ========== -->

        <!-- JS Implementing Plugins -->
        <script src="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/js/vendor.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/vendor/aos/dist/aos.js"></script>

        <!-- JS Front -->
        <script src="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/js/theme.min.js"></script>

        <!-- JS Plugins Init. -->
        <script>
            (function () {
                // INITIALIZATION OF HEADER
                // =======================================================
                new HSHeader("#header").init();

                // INITIALIZATION OF MEGA MENU
                // =======================================================
                new HSMegaMenu(".js-mega-menu", {
                    desktop: {
                        position: "left",
                    },
                });

                // INITIALIZATION OF SHOW ANIMATIONS
                // =======================================================
                new HSShowAnimation(".js-animation-link");

                // INITIALIZATION OF BOOTSTRAP VALIDATION
                // =======================================================
                HSBsValidation.init(".js-validate", {
                    onSubmit: (data) => {
                        data.event.preventDefault();
                        alert("Submited");
                    },
                });

                // INITIALIZATION OF BOOTSTRAP DROPDOWN
                // =======================================================
                HSBsDropdown.init();

                // INITIALIZATION OF GO TO
                // =======================================================
                new HSGoTo(".js-go-to");

                // INITIALIZATION OF AOS
                // =======================================================
                AOS.init({
                    duration: 650,
                    once: true,
                });

                // INITIALIZATION OF SWIPER
                // =======================================================
                var swiper = new Swiper(".js-swiper-software-hero", {
                    preloaderClass: "custom-swiper-lazy-preloader",
                    slidesPerView: 1,
                    pagination: {
                        el: ".js-swiper-software-hero-pagination",
                        dynamicBullets: true,
                        clickable: true,
                    },
                    breakpoints: {
                        380: {
                            slidesPerView: 2,
                            spaceBetween: 15,
                        },
                        580: {
                            slidesPerView: 3,
                            spaceBetween: 15,
                        },
                        768: {
                            slidesPerView: 4,
                            spaceBetween: 15,
                        },
                        1024: {
                            slidesPerView: 5,
                            spaceBetween: 30,
                        },
                    },
                    on: {
                        imagesReady: function (swiper) {
                            const preloader = swiper.el.querySelector(
                                ".js-swiper-software-hero-preloader",
                            );
                            preloader.parentNode.removeChild(preloader);
                        },
                    },
                });

                // INITIALIZATION OF NAV SCROLLER
                // =======================================================
                new HsNavScroller(".js-nav-scroller");
            })();
        </script>
    </body>
</html>
