<!-- Clients -->
<div class="container content-space-2 content-space-b-lg-3">
    <!-- Heading -->
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-6">
        <h2
            >Trusted by Open Source crypto platforms, and more than 100,000 of
            you</h2
        >
    </div>
    <!-- End Heading -->

    <div class="row justify-content-center text-center">
        <div class="col-4 col-sm-3 col-md-2 py-3">
            <img
                class="avatar avatar-lg avatar-4x3 avatar-centered"
                src="assets/img/crypto/vision.png"
                alt="Logo"
            />
        </div>
        <!-- End Col -->

        <div class="col-4 col-sm-3 col-md-2 py-3">
            <img
                class="avatar avatar-lg avatar-4x3 avatar-centered"
                src="assets/img/crypto/coinbase.png"
                alt="Logo"
            />
        </div>
        <!-- End Col -->

        <div class="col-4 col-sm-3 col-md-2 py-3">
            <img
                class="avatar avatar-lg avatar-4x3 avatar-centered"
                src="assets/img/crypto/ledger.png"
                alt="Logo"
            />
        </div>
        <!-- End Col -->

        <div class="col-4 col-sm-3 col-md-2 py-3">
            <img
                class="avatar avatar-lg avatar-4x3 avatar-centered"
                src="assets/img/crypto/metamask.png"
                alt="Logo"
            />
        </div>
        <!-- End Col -->

        <div class="col-4 col-sm-3 col-md-2 py-3">
            <img
                class="avatar avatar-lg avatar-4x3 avatar-centered"
                src="assets/img/crypto/gridplus.png"
                alt="Logo"
            />
        </div>
        <!-- End Col -->

        <div class="col-4 col-sm-3 col-md-2 py-3">
            <img
                class="avatar avatar-lg avatar-4x3 avatar-centered"
                src="assets/img/crypto/blockchain.png"
                alt="Logo"
            />
        </div>
        <!-- End Col -->

        <div class="col-4 col-sm-3 col-md-2 py-3">
            <img
                class="avatar avatar-lg avatar-4x3 avatar-centered"
                src="assets/img/crypto/mykey.png"
                alt="Logo"
            />
        </div>
        <!-- End Col -->

        <div class="col-4 col-sm-3 col-md-2 py-3">
            <img
                class="avatar avatar-lg avatar-4x3 avatar-centered"
                src="assets/img/crypto/ownbit.png"
                alt="Logo"
            />
        </div>
        <!-- End Col -->

        <div class="col-4 col-sm-3 col-md-2 py-3">
            <img
                class="avatar avatar-lg avatar-4x3 avatar-centered"
                src="assets/img/crypto/infinito.png"
                alt="Logo"
            />
        </div>
        <!-- End Col -->

        <div class="col-4 col-sm-3 col-md-2 py-3">
            <img
                class="avatar avatar-lg avatar-4x3 avatar-centered"
                src="assets/img/crypto/mew.png"
                alt="Logo"
            />
        </div>
        <!-- End Col -->

        <div class="col-4 col-sm-3 col-md-2 py-3">
            <img
                class="avatar avatar-lg avatar-4x3 avatar-centered"
                src="assets/img/crypto/onto.png"
                alt="Logo"
            />
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>
<!-- End Clients -->
