<div
    id="featuresSection"
    class="container content-space-b-md-2 content-space-lg-3"
>
    <!-- Heading -->
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <h2 class="h1">Key features</h2>
        <p
            >Interoperate with any blockchain network and decentralized
            applications. Support new blockchains and rollups out-of-the-box.</p
        >
    </div>
    <!-- End Heading -->

    <div class="row gx-3">
        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
            <!-- Card -->
            <a class="card card-sm card-transition h-100" href="#!">
                <div class="card-body">
                    <span class="svg-icon text-primary text-center mb-3">
                        <i class="fas fa-project-diagram fa-3x"></i>
                    </span>

                    <h4 class="card-title text-center">Multi Chain</h4>
                    <p class="card-text text-body text-center"
                        >Connect to a wallet with one or more chains
                        simultaneously and send transactions to different chains
                        at the same time.</p
                    >
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
            <!-- Card -->
            <a class="card card-sm card-transition h-100" href="#!">
                <div class="card-body">
                    <span class="svg-icon text-primary mb-3 text-center">
                        <i class="fas fa-globe fa-3x"></i>
                    </span>

                    <h4 class="card-title text-center"
                        >Decentralized Messaging</h4
                    >
                    <p class="card-text text-body text-center"
                        >Message relaying now leverage the power of WebSocket to
                        beep messages through all nodes.</p
                    >
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-3 mb-3 mb-sm-0">
            <!-- Card -->
            <a class="card card-sm card-transition h-100" href="#!">
                <div class="card-body">
                    <span class="svg-icon text-primary mb-3 text-center">
                        <i class="fas fa-infinity fa-3x"></i>
                    </span>

                    <h4 class="card-title text-center">One-time Pairing</h4>
                    <p class="card-text text-body text-center"
                        >Establishes multiple sessions from a single pairing.
                        One connection for infinite number of sessions.</p
                    >
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-3">
            <!-- Card -->
            <a class="card card-sm card-transition h-100" href="#!">
                <div class="card-body">
                    <span class="svg-icon text-primary mb-3 text-center">
                        <i class="fas fa-dice-d6 fa-3x"></i>
                    </span>

                    <h4 class="card-title text-center">Chain Agnostic</h4>
                    <p class="card-text text-body text-center"
                        >Interoperate with any blockchain. Support new
                        blockchains and rollups out-of-the-box.</p
                    >
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>
