<!-- ========== FOOTER ========== -->
<footer class="bg-dark">
    <div class="container pb-1 pb-lg-5">
        <div class="row content-space-t-2">
            <div class="col-lg-3 mb-7 mb-lg-0">
                <!-- Logo -->
                <div class="mb-5">
                    <a
                        class="navbar-brand"
                        href="index.html"
                        aria-label="Space"
                    >
                        <strong>
                            <h3 class="text-white">SyncWallet</h3>
                            <a class="link-sm link-light" href="mailto: hi@syncwallet.co"
                            ><i class="fas fa-envelope me-1"></i> hi@syncwallet.co</a
                        >
                        </strong>
                    </a>
                </div>
                <!-- End Logo -->

                <!-- List -->
                <ul class="list-unstyled list-py-1">
                    <li
                        ><a class="link-sm link-light" href="#"
                            ><i class="bi-geo-alt-fill me-1"></i>3626 Bel Aire Plaza Napa, CA 94558</a
                        ></li
                    >
                    <li
                        ><a
                            class="link-sm link-light"
                            href="tel:1-415-342-6745"
                            ><i
                                class="bi-telephone-inbound-fill me-1"
                            ></i>
                            +1 (415) 342-6745</a
                        ></li
                    >
                </ul>
                <!-- End List -->
            </div>
            <!-- End Col -->

            <div class="col-sm mb-7 mb-sm-0">
                <h5 class="text-white mb-3">Links</h5>

                <!-- List -->
                <ul class="list-unstyled list-py-1 mb-0">
                    <li
                        ><a class="link-sm link-light" href="https://blockchain.com/prices"
                            >Coin Price</a
                        ></li
                    >
                    <li
                        ><a class="link-sm link-light" href="/faqs"
                            >FAQs
                        </a></li
                    >
                    <li
                        ><a class="link-sm link-light" href="/terms"
                            >Terms & Conditions</a
                        ></li
                    >
                </ul>
                <!-- End List -->
            </div>
            <!-- End Col -->

            <div class="col-sm mb-7 mb-sm-0">
                <h5 class="text-white mb-3">Features</h5>

                <!-- List -->
                <ul class="list-unstyled list-py-1 mb-0">
                    <li
                        ><a class="link-sm link-light" href="#!"
                            >Dec. Apps
                    </li>
                    <li
                        ><a class="link-sm link-light" href="#!"
                            >Wallets</a
                        ></li
                    >
                    <li
                        ><a class="link-sm link-light" href="#!"
                            >Tokens</a
                        ></li
                    >
                </ul>
                <!-- End List -->
            </div>
            <!-- End Col -->

            <div class="col-sm">
                <h5 class="text-white mb-3">Platform</h5>

                <!-- List -->
                <ul class="list-unstyled list-py-1 mb-0">
                    <li
                        ><a class="link-sm link-light" href="/docs"
                            >Documentation</a
                        ></li
                    >
                    <li
                        ><a class="link-sm link-light" href="https://github.com/SyncWallet"
                            >Github</a
                        ></li
                    >
                    <li
                        ><a class="link-sm link-light" href="/system/status"
                            >Status</a
                        ></li
                    >
                </ul>
                <!-- End List -->
            </div>
            <!-- End Col -->

            <div class="col-sm">
                <h5 class="text-white mb-3">Resources</h5>

                <!-- List -->
                <ul class="list-unstyled list-py-1 mb-5">
                    <li
                        ><a class="link-sm link-light" href="https://medium.com/syncWallet"
                            ><i
                                class="bi-question-circle-fill me-1"
                            ></i>
                            Read Blog</a
                        ></li
                    >
                    <li
                        ><a class="link-sm link-light" href="/login"
                            ><i class="bi-person-circle me-1"></i> Your
                            Account</a
                        ></li
                    >
                    <li
                        ><a class="link-sm link-light" href="https://syncWallet.discord.com"
                            ><i class="fas fa-discord"></i>
                            Discord Server</a
                        ></li
                    >
                </ul>
                <!-- End List -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->

        <div class="border-top border-white-10 my-7"></div>

        <div class="row mb-7">
            <div class="col-sm mb-3 mb-sm-0">
                <!-- Socials -->
                <ul
                    class="
                        list-inline list-separator list-separator-light
                        mb-0
                    "
                >
                    <li class="list-inline-item">
                        <a class="link-sm link-light" href="/privacy-Policy"
                            >Privacy &amp; Policy</a
                        >
                    </li>
                </ul>
                <!-- End Socials -->
            </div>

            <div class="col-sm-auto">
                <!-- Socials -->
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a
                            class="btn btn-soft-light btn-xs btn-icon"
                            href="https://facebook.com/SyncWallet"
                        >
                            <i class="bi-facebook"></i>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a
                            class="btn btn-soft-light btn-xs btn-icon"
                            href="#!"
                        >
                            <i class="bi-google"></i>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a
                            class="btn btn-soft-light btn-xs btn-icon"
                            href="https://twitter.com/syncWallet"
                        >
                            <i class="bi-twitter"></i>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a
                            class="btn btn-soft-light btn-xs btn-icon"
                            href="https://github.com/SyncWallet"
                        >
                            <i class="bi-github"></i>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <!-- Button Group -->
                        <div class="btn-group">
                            <button
                                type="button"
                                class="
                                    btn btn-soft-light btn-xs
                                    dropdown-toggle
                                "
                                id="footerSelectLanguage"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                data-bs-dropdown-animation
                            >
                                <span class="d-flex align-items-center">
                                    <img
                                        class="
                                            avatar
                                            avatar-xss
                                            avatar-circle
                                            me-2
                                        "
                                        src="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/vendor/flag-icon-css/flags/1x1/us.svg"
                                        alt="Image description"
                                        width="16"
                                    />
                                    <span>English (US)</span>
                                </span>
                            </button>

                            <div
                                class="dropdown-menu"
                                aria-labelledby="footerSelectLanguage"
                            >
                                <a
                                    class="
                                        dropdown-item
                                        d-flex
                                        align-items-center
                                        active
                                    "
                                    href="#"
                                >
                                    <img
                                        class="
                                            avatar
                                            avatar-xss
                                            avatar-circle
                                            me-2
                                        "
                                        src="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/vendor/flag-icon-css/flags/1x1/us.svg"
                                        alt="Image description"
                                        width="16"
                                    />
                                    <span>English (US)</span>
                                </a>
                                <a
                                    class="
                                        dropdown-item
                                        d-flex
                                        align-items-center
                                    "
                                    href="#"
                                >
                                    <img
                                        class="
                                            avatar
                                            avatar-xss
                                            avatar-circle
                                            me-2
                                        "
                                        src="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/vendor/flag-icon-css/flags/1x1/de.svg"
                                        alt="Image description"
                                        width="16"
                                    />
                                    <span>Deutsch</span>
                                </a>
                                <a
                                    class="
                                        dropdown-item
                                        d-flex
                                        align-items-center
                                    "
                                    href="#"
                                >
                                    <img
                                        class="
                                            avatar
                                            avatar-xss
                                            avatar-circle
                                            me-2
                                        "
                                        src="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/vendor/flag-icon-css/flags/1x1/es.svg"
                                        alt="Image description"
                                        width="16"
                                    />
                                    <span>Español</span>
                                </a>
                                <a
                                    class="
                                        dropdown-item
                                        d-flex
                                        align-items-center
                                    "
                                    href="#"
                                >
                                    <img
                                        class="
                                            avatar
                                            avatar-xss
                                            avatar-circle
                                            me-2
                                        "
                                        src="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/vendor/flag-icon-css/flags/1x1/cn.svg"
                                        alt="Image description"
                                        width="16"
                                    />
                                    <span>中文 (繁體)</span>
                                </a>
                            </div>
                        </div>
                        <!-- End Button Group -->
                    </li>
                </ul>
                <!-- End Socials -->
            </div>
        </div>
    </div>
</footer>
<!-- ========== END FOOTER ========== -->