<html lang="en" dir="" class="h-100"
    ><head>
        <!-- Required Meta Tags Always Come First -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Title -->
        <title>SyncWallet | Page Not Found</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="./favicon.ico" />

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css"
            integrity="sha512-3PN6gfRNZEX4YFyz+sIyTF6pGlQiryJu9NlGhu9LrLMQ7eDjNgudQoFDK3WSNAayeIKc6B8WXXpo4a7HqxjKwg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap"
            rel="stylesheet"
        />
        <!-- End Fonts -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/css/vendor.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/vendor/bootstrap-icons/font/bootstrap-icons.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/vendor/aos/dist/aos.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/aoamusat/cdn/assets/css/theme.minc619.css?v=1.0"
        />
        <style>
            body,
            html {
                font-family: "Comfortaa", cursive;
                /* font-weight: 700; */
            }
        </style>
    </head>

    <body
        class="
            d-flex
            flex-column
            justify-content-center
            align-items-center
            h-100
        "
    >
        <!-- ========== HEADER ========== -->
        <header
            id="header"
            class="navbar navbar-expand navbar-light navbar-absolute-top"
        >
            <div class="container">
                <nav class="navbar-nav-wrap">
                    <!-- Default Logo -->
                    <a class="navbar-brand" href="/" aria-label="Front">
                        <h3 class="text-primary"
                            >Sync<span class="text-dark">Wallet</span></h3
                        >
                    </a>
                    <!-- End Default Logo -->
                </nav>
            </div>
        </header>
        <!-- ========== END HEADER ========== -->

        <!-- ========== MAIN CONTENT ========== -->
        <main id="content" role="main">
            <!-- Content -->
            <div class="container text-center">
                <div class="mb-3">
                    <i class="fas fa-server fa-7x"></i>
                </div>

                <div class="mb-4">
                    <p class="fs-4 mb-0">404 - Page not found.</p>
                    <p class="fs-4 mb-0">Looks like you followed a bad link.</p>
                </div>

                <a class="btn btn-primary" href="/">Go back home</a>
            </div>
            <!-- End Content -->
        </main>
        <!-- ========== END MAIN CONTENT ========== -->
    </body>
</html>
